@use "variables" as var;

.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 35px;
  background-color: var.$button;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  word-wrap: break-word;
}
