@use "variables" as var;

// .button {
//   &:hover {
//     background-color: var.$button-hover;
//     color: var.$button;
//     transition: all 0.5s;
//   }

//   &:focus-visible {
//     outline: none;
//     background-color: var.$button-hover;
//     color: var.$button;
//   }

//   &:active {
//     background-color: var.$button-hover;
//     color: var.$button;
//   }
// }

.video-btn {
  position: relative;
  display: inline-block;
  position: relative;
  color: var.$button;
  padding: 13px 20px 13px 72px;
  border-radius: 28px;
  cursor: pointer;
  transition: background-color 0.5s;

  // .video-btn__icon
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: var.$contrast-text;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    transition:
      left 0.5s,
      box-shadow 0.5s; // Плавное перемещение и тень
    z-index: 5;
  }

  .button {
    position: relative;
    background-color: transparent;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    color: var.$minor-text;
    border-radius: 0;
    padding: 0;
    pointer-events: none;
    transition: color 0.5s;
  }

  &:hover {
    background-color: var.$button-hover;

    .button {
      color: var.$button;
      // transition-delay: 0.25s;
    }
  }

  &:active {
    background-color: transparent;
    // padding-right: 72px;

    .video-btn__icon {
      // transition-delay: 0.25s;
      left: 100%;
      box-shadow: -3px 1px 10px var.$dark-shadow; // Тень для эффекта глубины
    }

    .button {
      // color: var.$minor-text;
      transition-delay: 0s;
    }
  }
}

.search-button {
  &__btn {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
  }

  .button {
    padding: 38px 46px 38px 82px;
    border-radius: 280px;
  }
}
