@use "variables" as var;

:root {
  font-family: var.$first-font;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var.$body-text;
  background-color: var.$body;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --button-color: #24ab70; /* Цвет кнопки */
  --button-hover-color: #24ab701a; /* Цвет кнопки при наведении */
  --contrast-text-color: #ffffff; /* Цвет текста на кнопке */
  --text-color: #242424; /* Цвет текста на кнопке */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a:hover {
  // color: var.$pink_535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.container {
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: var.$tablet-width) {
    padding: 0 60px;
    // max-width: 768px;
  }

  @media (min-width: var.$desktop-width) {
    max-width: 1440px;
    padding: 0 80px;
  }
}

.page {
  height: 100%;

  &__body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
  }

  &__content {
    min-height: inherit;
    min-width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.main {
  flex-grow: 1;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ========= подстраховка от измеения размера картинок в исходниках и разметке ========== */
img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
