$black: #242424;
$white: #ffffff;
$green: #24ab70;
$star: #f95f5f;
$faded-star: #e5e5e5;
$fb: #1877f2;
$border: #585858;
$shadow: #193946;
$dark-shadow: #002213;
$down-dark-shadow: #001d10;
$stroke-seller: #f4fdfe;

$first-font: "OpenSans", "Arial", sans-serif;
$second-font: "Intan", "Arial", sans-serif;
