$body: #ffffff;
$body-text: #242424;
$contrast-text: #ffffff;
$accent-text: #24ab70;
$button: #24ab70;
$button-hover: #24ab701a;
$stroke-arrow: #1d263a;
$field-input: #fafafa;
$discover-background: #f4fbf8;
$star: #f95f5f;
$faded-star: #e5e5e5;
$fb: #1877f2;
$border: #585858;
$shadow: #193946;
$dark-shadow: #002213;
$down-dark-shadow: #001d10;
$stroke-seller: #f4fdfe;

$first-font: "OpenSans", "Arial", sans-serif;
$second-font: "Intan", "Arial", sans-serif;

// Брейкпоинты
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1280px;
