@use "../variables" as var;

// .menu--opened
.menu--opened {
  .header__menu {
    padding-bottom: 430px;

    @media (min-width: var.$tablet-width) {
      padding-bottom: 0;
      transition: none;
    }
  }

  .menu__body {
    display: block;
    height: 430px;
    width: 100%;

    @media (min-width: var.$tablet-width) {
      height: 100%;
      transition: none;
    }
  }

  .icon-menu {
    span {
      transform: rotate(180deg);
      background-color: transparent;
      left: 10px;
    }

    &::before,
    &::after {
      top: 0;
    }

    &::before {
      transform: rotate(225deg);
      top: calc(50% - 1px);
    }

    &::after {
      transform: rotate(135deg);
      top: calc(50% - 1px);
    }
  }

  @media (min-width: var.$tablet-width) {
    .header__button {
      top: 50%;
      right: 60px;
      transform: translateY(-50%);
    }
  }
}
